@import "./styles/character.css";
@import "./styles/common.css";
@import "./styles/character-attributes.css";
@import "./styles/character-active-values.css";
@import "./styles/field-prompt.css";
@import "./styles/modifiers.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  padding-top: 15px;
  background-color: #081b33;
  color: white;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background-color: white;
  color: #081b33;
  border-radius: 15px;
  width: 80%;
  min-width: 500px;
}

h1 {
  color: white;
  background-color: black;
}

.skill {
  border-radius: 5px;
  border: 1px solid gray;
  margin: 15px;
  padding: 15px;
}

.in-use {
  box-shadow: 0 0 10px rgb(116, 139, 189) inset;
}

.skill h5 {
  margin-bottom: 5px;
}

.plus {
  background-color: green;
  color: white;
}

.spacer {
  margin-top: 8px;
}

.main-button {
  border-radius: 5px;
  border: 1px solid #2fafa9;
  padding: 3px 8px;
  color: #2fafa9;
  background-color: white;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-button {
  border-radius: 5px;
  border: 1px solid #dd821a;
  padding: 3px 8px;
  color: #dd821a;
  background-color: white;
  cursor: pointer;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.card {
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  padding: 30px;
}

#button-container {
  border-style: none;
  justify-content: flex-end;
  margin-bottom: 15px;
}

#button-container button {
  margin-left: 15px;
}

button {
  cursor: pointer;
}

.no-display {
  display: none;
}

.calculator {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 5px;
}

.calculator label {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 5px;
}

.calculator label * {
  margin-right: 15px;
}
